@charset "UTF-8";
body {
  font-family: "Segeo UI";
  width: 100%;
  height: 100%;
  position: relative;
  font-style: normal;
  font-size: 16px;
}

header .head {
  height: 150px;
  width: 100%;
}

header .head-top {
  top: 0;
  width: 100%;
  height: 50px;
  background: #110011;
  cursor: pointer;
}

header .head-top span {
  display: inline-block;
  line-height: 30px;
  margin: 10px 5px;
  padding: 0 5px;
  color: #fff;
  font-weight: bold;
}

header .head-top span:hover {
  background: #005ba5;
  border-radius: 4px;
}

header .head-top span a {
  line-height: 30px;
  text-decoration: none;
  color: #fff;
}

header .head-top__hotline {
  float: left;
}

header .head-top__nav {
  float: right;
}

header .head-top__nav-account {
  display: inline-block;
}

header .head-top__nav-account button {
  display: none;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  box-shadow: #555 0 0 5px;
  background: #fff url(../images/user.svg) no-repeat center center;
}

header .head-body {
  margin: 50px 0 0 0;
  height: 150px;
  width: 100%;
  animation: headBodyOpacity 2s 1 ease-in-out;
}

header .head-body .logo {
  width: 100%;
}

header .head-body .logo img {
  width: 100%;
  height: 150px;
}

#content {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 100px;
}

#up-top {
  width: 0;
  height: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  border: 20px solid transparent;
  border-right-color: green;
  border-bottom-color: green;
  cursor: pointer;
  display: none;
  z-index: 99999;
}

#up-top:after {
  content: 'TOP';
  position: absolute;
  color: #fff;
  font-weight: 600;
  font-size: 10px;
  bottom: -20px;
  left: -2px;
}

#over {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #000;
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: 999;
}

.fixed {
  position: fixed;
  z-index: 99999;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.inline {
  display: inline !important;
}

.loading {
  background: url(../images/loading.gif) no-repeat center center;
  width: 50px;
  height: 50px;
}

.validation {
  line-height: 30px;
  display: block;
}

.validation-error {
  color: #ff0000;
}

.sale-pocily {
  display: block;
  height: 50px;
  margin: 10px 0;
}

.sale-pocily ul {
  margin: 0;
  padding: 0;
}

.sale-pocily ul li {
  float: left;
  list-style: none;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin: 5px 10px;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  border-radius: 20px;
}

.sale-pocily ul li:hover {
  border: 1px solid #0099ff;
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.search {
  position: relative;
}

.search input,
.search select,
.search button {
  display: block;
  height: 40px;
  padding: 5px;
  border: 1px solid #DDDDDD;
}

.search .select-box {
  position: relative;
}

.search .select-box::after {
  content: '';
  border: 5px solid transparent;
  border-top-color: #000;
  position: absolute;
  right: 5px;
  top: 20px;
}

.search select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.search select option {
  line-height: 16px;
  margin: 10px;
  border-bottom: 1px solid #eee;
}

.search input[type=submit],
.search button {
  border: 0;
  background: #333;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.search input[type=submit]:hover,
.search button:hover {
  background: #02009E;
}

.search-box {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.search-box input,
.search-box button,
.search-box .select-box {
  position: absolute;
}

.search-box input {
  width: 100%;
  left: 0;
  padding: 0 210px 0 10px;
}

.search-box select {
  width: 100%;
}

.search-box .select-box {
  width: 150px;
  right: 50px;
}

.search-box button {
  width: 50px;
  min-width: 50px;
  right: 0;
}

.list-menu {
  width: 100%;
  height: 50px;
  background: #ddd;
  cursor: pointer;
}

.list-menu button {
  display: none;
}

.list-menu ul {
  margin: 0;
  padding: 0;
}

.list-menu ul li {
  list-style: none;
  display: inline-block;
  line-height: 40px;
  color: #000;
  font-weight: 600;
  margin: 5px 2px;
  padding: 0 10px;
}

.list-menu ul li:hover {
  background: #bbb;
  border-radius: 4px;
}

.list-menu ul li a {
  text-decoration: none;
  color: #000;
}

.list-menu .dropdown-menu {
  top: 45px;
}

.list-menu .dropdown li {
  display: block !important;
  color: #011627 !important;
  transition: all .1s ease-in;
}

.list-menu .dropdown li a {
  color: #011627 !important;
}

.list-menu .dropdown li:hover {
  color: #fff !important;
  padding-left: 20px;
}

.list-menu .dropdown li:hover a {
  color: #fff !important;
}

.dropdown {
  position: relative;
  cursor: pointer;
  list-style: none;
  line-height: 30px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  min-width: 180px;
  width: auto;
  border-radius: 0;
  background: #fff;
  box-shadow: #110011 0 0 2px;
  margin: 0;
  padding: 0;
  z-index: 999;
  overflow: hidden;
  overflow-y: auto;
}

.dropdown-menu::before {
  content: ' ';
  border: 10px solid transparent;
  border-bottom-color: #fff;
  border-width: 15px 10px 5px 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
}

.dropdown-menu li {
  display: block;
  line-height: 40px;
  color: #011627;
  transition: all .1s ease-in;
  margin: 5px 2px;
  padding: 0 10px;
}

.dropdown-menu li:hover {
  background: #011627;
  color: #ffffff;
  border-radius: 4px;
  padding-left: 20px;
}

.dropdown-menu li:hover a {
  background: #011627;
  color: #ffffff !important;
}

.dropdown-menu li a {
  line-height: 40px;
  padding: 0;
  color: #011627 !important;
  white-space: normal;
}

.ads {
  height: auto;
  max-height: 350px;
  margin: 10px 0;
}

.ads img {
  width: 100%;
  height: 100%;
}

.ads-350 {
  height: 350px;
  max-height: 350px;
  margin: 10px 0;
}

.ads-350 img {
  width: 100%;
  height: 100%;
}

.ads-320 {
  height: 320px;
  max-height: 320px;
  margin: 10px 0;
}

.ads-320 img {
  width: 100%;
  height: 100%;
}

h1.title {
  margin: 5px 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 20px;
}

h1.title span {
  font-weight: bold;
  line-height: 20px;
}

.desc {
  min-height: 50px;
  width: 100%;
  border: 1px solid #ddd;
  line-height: 30px;
  padding: 10px;
  margin: 5px 0;
}

.desc span {
  line-height: 30px;
}

.desc select {
  border: 1px solid #ddd;
}

.desc select option {
  border: 0;
}

.desc ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.desc ul li img {
  width: 50px;
  height: 50px;
}

.order-cart {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px 0;
}

.order-cart ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.order-cart ul li {
  border-bottom: 1px solid #ddd;
}

.order-cart ul li .items {
  float: left;
  width: calc(100% - 55px);
  height: 50px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.order-cart ul li img {
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 5px;
}

.order-cart ul li .price {
  display: block;
  float: none;
  padding: 0 5px;
  line-height: 20px;
  font-weight: 600;
  font-size: 12px;
}

.dialog {
  min-width: 200px;
  max-width: 500px;
  padding: 10px;
  height: auto;
  border: 1px solid;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
  background: #dddddd;
  box-shadow: #555 0 0 5px;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.dialog-head {
  position: relative;
  height: 30px;
  padding: 0 10px;
  border-radius: 4px 4px 0 0;
}

.dialog-head .closex {
  position: absolute;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  right: 0;
  top: 0;
  cursor: pointer;
  color: #555;
}

.dialog-head .closex:hover {
  color: #000000;
}

.dialog-body {
  position: relative;
  width: 100%;
  height: calc(100% - 30px);
  border-radius: 0 0 4px 4px;
}

.dialog-load {
  background: url(../images/loading.gif) no-repeat center center;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.pagination {
  display: inline-block;
  margin: 0 auto;
}

.pagination li span,
.pagination li a {
  margin: 2.5px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
}

.pagination li span:hover,
.pagination li a:hover {
  background: #008b13;
  border-color: #008b13;
  color: #ffffff;
}

.pagination .active span {
  background: #008b13;
  border-color: #008b13;
}

.breadcrum {
  width: 100%;
  height: auto;
  margin: 10px 0;
  padding: 5px;
  border-bottom: 1px solid #bbb;
  font-size: 13px;
}

.breadcrum li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

.breadcrum li a {
  line-height: 20px;
  text-decoration: none;
  color: #555;
}

.breadcrum li a:hover {
  color: #ce5d00;
}

.breadcrum li:after {
  content: '»';
  position: absolute;
  font-size: 12px;
  color: #555;
  right: -15px;
  top: 0;
}

.breadcrum li:last-child {
  font-weight: 600;
  font-size: 14px;
  color: #ce5d00;
}

.breadcrum li:last-child:after {
  content: '';
}

.auth-side {
  margin: 10px;
  border: 1px solid #ddd;
}

.auth-side .side-title {
  line-height: 40px;
  padding: 0 0 0 5px;
  background: #333;
  color: #ffffff;
  border-left: 5px solid red;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.auth-side ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.auth-side ul li {
  position: relative;
  width: 80%;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}

.auth-side ul li a {
  text-decoration: none;
  color: #888;
}

.auth-side ul li a:hover {
  color: #000000;
}

.auth-info .auth-item {
  display: block;
  line-height: 50px;
}

.auth-info .auth-item .avatar {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.auth-info .auth-item .avatar img {
  width: 100%;
  height: 100%;
}

.auth-info .auth-item .name {
  font-weight: 600;
  margin: 0 10px;
  display: inline-block;
}

.err-404 {
  position: absolute;
  width: 300px;
  height: 100px;
  border-radius: 100px;
  box-shadow: #555 0 0 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.err-404 span {
  display: block;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  font-size: 32px;
  text-shadow: 0 0 2px #0084ff;
}

.err-404 span:first-child {
  font-size: 70px;
}

.err-desc {
  text-align: center;
  margin: 10px 0 0 0;
  max-width: 100%;
  width: 100%;
  background: #eee;
  line-height: 30px;
  color: #555555;
}

.w10 {
  width: 10% !important;
}

.w20 {
  width: 20% !important;
}

.w30 {
  width: 30% !important;
}

.w40 {
  width: 40% !important;
}

.w50 {
  width: 50% !important;
}

.star0 {
  background: url(../images/star0.svg) no-repeat;
}

.star {
  background: url(../images/star.svg) no-repeat;
}

.star1 {
  background: url(../images/star1.svg) no-repeat;
}

.alert {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 5px 0;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #287729;
  background-color: #dff0d8;
  border-color: #afee78;
}

.alert-warning {
  color: #eea617;
  background-color: #fde880;
  border-color: #faebcc;
}

.tips {
  display: inline-block;
  font-size: 11px;
  line-height: 11px;
  border: 1px solid #ddd;
  box-shadow: #555 0 0 3px;
  padding: 2px;
}

footer {
  width: 100%;
  height: 100px;
  background: #000;
  color: #fff;
}

.cart {
  top: 5px;
  right: 10px;
  color: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  background: #fff url(../images/cart.png) no-repeat center center;
  box-shadow: #555 0 0 3px;
}

.cart #open-cart {
  width: 40px;
  height: 40px;
}

.cart .number {
  position: absolute;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  border-radius: 15px;
  top: -10px;
  right: -15px;
  line-height: 25px;
  text-align: center;
}

.cart .number:hover {
  border-radius: 15px;
  background: red;
}

.cart-menu {
  display: none;
  position: absolute;
  background: #fff;
  color: #000;
  box-shadow: 0 3px 7px #333;
  right: 10px;
  top: 45px;
  padding: 5px;
  width: 400px;
  max-width: 400px;
}

.cart-menu::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-width: 15px 10px 5px 10px;
  border-bottom-color: #fff;
  right: 0;
  top: -20px;
}

.cart-menu ul {
  margin: 0;
  padding: 0;
  max-height: 340px;
  overflow-y: auto;
}

.cart-menu ul li {
  position: relative;
  list-style: none;
  height: 80px;
  display: block;
  margin: 5px 0;
  line-height: 25px;
  border: 1px solid #bbb;
  border-radius: 25px 0;
}

.cart-menu ul li img {
  width: 50px;
  height: 50px;
  float: left;
  border-radius: 25px 0 0 0;
}

.cart-menu ul li span {
  max-width: 300px;
  height: 50px;
  padding: 0 5px;
  line-height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  float: left;
  margin: 0;
  color: #fff;
  font-weight: normal;
}

.cart-menu ul li span:hover {
  background: none;
}

.cart-menu ul li span:hover a {
  color: black;
}

.cart-menu ul li span a {
  text-decoration: none;
  color: #0066da;
}

.cart-menu ul li .price {
  height: 20px;
  display: block;
  font-weight: 600;
  font-size: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  color: #000;
  padding: 0 5px;
  margin: 5px 2px;
  line-height: 20px;
  clear: both;
}

.cart-menu .total {
  position: relative;
  height: 50px;
  color: #ff0000;
}

.cart-menu .total span {
  font-weight: 600;
  line-height: 50px;
}

.cart-menu .total span {
  color: #ff0000;
  margin: 0;
  font-weight: bold;
}

.cart-menu .total span:hover {
  background: none;
}

.cart-menu .total span a {
  text-decoration: none;
  color: #000;
}

.cart-menu .total button {
  float: right;
  margin: 5px 5px;
  height: 40px;
  line-height: 40px;
  background: red;
  border: 0;
  color: #fff;
}

.cart-menu .total button:hover {
  background: #fff;
  border: 1px solid #f00;
  color: #f00;
}

.cart-menu .closex {
  position: absolute;
  width: 15px;
  height: 15px;
  line-height: 15px;
  background: transparent;
  border: 0;
  right: 0;
  padding: 0;
  font-size: 16px;
}

.cart-menu .closex:hover {
  text-shadow: #0059ff 0 0 5px;
}

.cart-page {
  width: 100%;
  height: 100%;
}

.cart-page table {
  width: 100%;
}

.cart-page table th,
.cart-page table td {
  text-align: center;
}

.cart-page table img {
  width: 100px;
  height: 100px;
}

.cart-page table.cart-product {
  position: relative;
  margin: 10px 0;
  background: #eee;
  min-height: 80px;
  height: 80px;
}

.cart-page table.cart-product button {
  position: absolute;
  border: 0;
  right: 0;
  top: 0;
}

.cart-page table.cart-product td.cart-product-name {
  padding: 0 5px !important;
}

.cart-page table.cart-product input[type=number] {
  width: 50px;
  height: 30px;
}

.cart-page table.cart-product input[type=number]::-webkit-inner-spin-button,
.cart-page table.cart-product input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-page table.cart-product input[type=number] {
  -moz-appearance: textfield;
}

.cart-page table.cart-product .quantum {
  width: 80px;
  position: relative;
}

.cart-page table.cart-product .quantum .up,
.cart-page table.cart-product .quantum .down {
  width: 15px;
  height: 15px;
  border: 1px solid #bbb;
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
  line-height: 15px;
}

.cart-page table.cart-product .quantum .up {
  top: 0;
}

.cart-page table.cart-product .quantum button.down {
  bottom: 0;
  top: 15px;
}

.category {
  padding: 0;
}

.category li {
  list-style: none;
}

.category li a {
  display: block;
  line-height: 20px;
  padding: 10px;
  background: #333;
  margin: 2.5px;
  color: #ffffff;
  border-left: 5px solid green;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease;
}

.category li a:hover {
  text-shadow: #02009E 0 0 5px;
  padding-left: 20px;
}

.category li ul {
  margin: 0;
  padding: 0;
}

.category li ul li a {
  background: #fff;
  color: #333;
  border: 1px solid;
  font-weight: normal;
}

#show-cat {
  display: none;
  line-height: 20px;
  padding: 10px;
  background: #333;
  margin: 2.5px;
  color: #ffffff;
  border-left: 5px solid green;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

#show-cat:hover {
  text-shadow: #02009E 0 0 5px;
}

.form-group {
  width: 100%;
  animation: top-bot .8s 1 ease-in-out;
  -moz-animation: top-bot .8s 1 ease-in-out;
  -webkit-animation: top-bot .8s 1 ease-in-out;
}

.form {
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.form label {
  line-height: 40px;
  font-weight: normal;
  margin: 5px 0;
}

.form input,
.form select,
.form button,
.form textarea {
  height: 40px;
  min-width: 40px;
  width: 100%;
  display: block;
  padding: 0 5px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.form input:focus,
.form select:focus,
.form button:focus,
.form textarea:focus {
  border: 1px solid #0066ff;
}

.form input:hover,
.form select:hover,
.form button:hover,
.form textarea:hover {
  border: 1px solid #0066ff;
}

.form textarea {
  max-width: 100%;
  height: 100px;
}

.form .input-group {
  width: 100%;
}

.form .input-group label,
.form .input-group input,
.form .input-group select,
.form .input-group button {
  width: auto;
  float: left;
  margin: 5px 2px;
}

.form .input-group label[for=address] {
  line-height: 20px;
}

button:disabled {
  cursor: not-allowed;
}

.btn-red {
  height: 30px;
  line-height: 30px;
  background: red;
  border: 0;
  color: #fff;
}

.btn-red:hover {
  border: 1px solid #f00;
  color: #f00;
  background: #fff;
}

.btn-green {
  border: 0;
  height: 30px;
  line-height: 30px;
  background: #006b00;
  color: #fff;
}

.btn-green:hover {
  color: #006b00;
  border: 1px solid #006b00;
  background: #fff;
}

.btn-blue {
  border: 0;
  height: 30px;
  line-height: 30px;
  background: #00f;
  color: #fff;
}

.btn-blue:hover {
  color: #00f;
  border: 1px solid #00f;
  background: #fff;
}

@keyframes zoom {
  33% {
    transform: scale(1);
  }
  66% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@-moz-keyframes zoom {
  33% {
    -moz-transform: scale(1);
  }
  66% {
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@-webkit-keyframes zoom {
  33% {
    -webkit-transform: scale(1);
  }
  66% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes slidePrev {
  from {
    left: -30px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: .7;
  }
}

@-moz-keyframes slidePrev {
  from {
    left: -30px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: .7;
  }
}

@-webkit-keyframes slidePrev {
  from {
    left: -30px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: .7;
  }
}

@keyframes slideNext {
  from {
    right: -30px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: .7;
  }
}

@-moz-keyframes slideNext {
  from {
    right: -30px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: .7;
  }
}

@-webkit-keyframes slideNext {
  from {
    right: -30px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: .7;
  }
}

@keyframes slideShow {
  0% {
    right: -40px;
    opacity: 0;
  }
  20% {
    right: -30px;
    opacity: .2;
  }
  50% {
    right: -20px;
    opacity: .5;
  }
  80% {
    right: -10px;
    opacity: .8;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@-moz-keyframes slideShow {
  0% {
    right: -40px;
    opacity: 0;
  }
  20% {
    right: -30px;
    opacity: 0.2;
  }
  50% {
    right: -20px;
    opacity: 0.5;
  }
  80% {
    right: -10px;
    opacity: 0.8;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slideShow {
  0% {
    right: -40px;
    opacity: 0;
  }
  20% {
    right: -30px;
    opacity: 0.2;
  }
  50% {
    right: -20px;
    opacity: 0.5;
  }
  80% {
    right: -10px;
    opacity: 0.8;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes top-bot {
  0% {
    opacity: 0.8;
    transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
  }
  25% {
    opacity: 1;
    transform: translateY(30px);
    transform: translateY(30px);
    transform: translateY(30px);
  }
  50% {
    transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}

@-moz-keyframes top-bot {
  0% {
    opacity: 0.8;
    transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
  }
  25% {
    opacity: 1;
    transform: translateY(30px);
    transform: translateY(30px);
    transform: translateY(30px);
  }
  50% {
    transform: translateY(-20px);
    -moz-ransform: translateY(-20px);
    -webkit-ransform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
    -moz-ransform: translateY(0px);
    -webkit-ransform: translateY(0px);
  }
}

@-webkit-keyframes top-bot {
  0% {
    opacity: 0.8;
    transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
  }
  25% {
    opacity: 1;
    transform: translateY(30px);
    transform: translateY(30px);
    transform: translateY(30px);
  }
  50% {
    transform: translateY(-20px);
    -moz-ransform: translateY(-20px);
    -webkit-ransform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
    -moz-ransform: translateY(0px);
    -webkit-ransform: translateY(0px);
  }
}

@keyframes headBodyOpacity {
  from {
    opacity: .5;
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  25% {
    opacity: 1;
    transform: translateX(0);
    transform: translateX(0);
    transform: translateX(0);
  }
}

@-moz-keyframes headBodyOpacity {
  from {
    opacity: .5;
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  25% {
    opacity: 1;
    transform: translateX(0);
    transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes headBodyOpacity {
  from {
    opacity: .5;
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  25% {
    opacity: 1;
    transform: translateX(0);
    transform: translateX(0);
    transform: translateX(0);
  }
}

.product {
  position: relative;
  height: 240px;
  margin: 5px 0;
  cursor: pointer;
  padding: 5px;
}

.product:hover {
  padding: 4px;
  border: 1px solid #006b00;
}

.product:hover #buy {
  display: block;
}

.product:hover .sale {
  top: -1px;
  right: -1px;
}

.product .thumb {
  width: 100%;
  height: 120px;
  background-image: none;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.product-name {
  position: relative;
  padding: 5px;
  color: #fff;
  width: 100%;
  height: 40px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  font-weight: 600;
  z-index: 999;
}

.product-name a {
  color: #000;
  text-decoration: none;
}

.product-name a:hover {
  text-shadow: #00a2ff 0 0 5px;
}

.product-price {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 20px;
  font-size: 16px;
  color: #f00;
}

.product-price .pre {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  color: #000;
  text-decoration: line-through;
  display: block;
}

.product-action #buy {
  border: 0;
  padding: 0;
  height: 30px;
  line-height: 30px;
}

.product-action #buy {
  display: none;
  background: #006b00;
  color: #fff;
  width: 100%;
  margin: 0 auto;
}

.product-action #buy:hover {
  color: #006b00;
  border: 1px solid #006b00;
  background: #fff;
}

.product .sale {
  position: absolute;
  background: #f00;
  color: #fff;
  right: 0;
  top: 0;
  line-height: 20px;
  height: 20px;
}

.product .sale::after {
  content: '';
  border: 10px solid transparent;
  border-left-color: #f00;
  position: absolute;
}

.product-page .product-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.product-page .product-price {
  font-size: 24px;
  text-align: left;
  margin: 10px 0;
}

.product-page .product-price .pre {
  font-size: 16px;
}

.product-page .product-quantity {
  margin: 5px 0;
}

.product-page .product-quantity input {
  height: 30px;
  min-width: 100px;
}

.product-page .product-sort-desc {
  max-height: 190px;
  line-height: 30px;
  margin: 2px;
  padding: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid transparent;
  border-bottom-color: #ddd;
  border-top-color: #ddd;
}

.product-page .product-sale {
  line-height: 30px;
}

.product-page .product-status {
  height: 20px;
  width: auto;
  border-radius: 10px;
  padding: 2px 5px;
  line-height: 20px;
  color: #ffffff;
}

.product-page button {
  width: 100%;
}

.product-tab-container {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.product-tab-container__header {
  height: auto;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.product-tab-container__header li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 500;
}

.product-tab-container__header .active {
  height: 50px;
  color: #ff0000;
  border-bottom: 2px solid #f00;
}

.product-tab-description {
  display: none;
}

.product-tab-description__content {
  margin: 10px;
  line-height: 30px;
}

.product-tab-description__footer .__keyword {
  line-height: 30px;
  padding: 5px;
}

.product-tab-rate {
  display: none;
}

.product-tab-rate__info {
  text-align: center;
  width: 100%;
  height: auto;
  line-height: 30px;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
}

.product-tab-rate__content {
  margin: 5px;
  background: #eee;
}

.product-tab-rate__content-user {
  position: relative;
}

.product-tab-rate__content-user__username {
  font-weight: 600;
  font-style: 16px;
  line-height: 50px;
  color: #ff5100;
}

.product-tab-rate__content-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.product-tab-rate__content-user__star {
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 50px;
}

.product-tab-rate__content-user__star span {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.product-tab-rate__content-rate__comment {
  padding-left: 50px;
  line-height: 30px;
}

.product-tab-rate__content-rate__date {
  padding-left: 50px;
  color: #555;
}

.product-tab-rate__content #load-more-rate button {
  line-height: 30px;
  border-radius: 15px;
  border: 1px solid;
  text-align: center;
  margin: 5px 0 5px 50px;
}

.product-tab-comment {
  display: none;
}

.product-tab-comment__info {
  text-align: center;
  width: 100%;
  height: auto;
  line-height: 30px;
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px 0;
}

.product-tab-comment__content {
  margin: 5px;
  background: #eee;
}

.product-tab-comment__content-user {
  position: relative;
}

.product-tab-comment__content-user__username {
  font-weight: 600;
  font-style: 16px;
  line-height: 50px;
  color: #ff5100;
}

.product-tab-comment__content-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.product-tab-comment__content-comment__comment {
  line-height: 30px;
  padding-left: 50px;
  word-break: break-all;
}

.product-tab-comment__content-comment__comment .reply {
  display: block;
  cursor: pointer;
  font-weight: 600;
}

.product-tab-comment__content-comment__date {
  color: #555;
  padding-left: 50px;
}

.product-tab-comment__content-reply {
  padding-left: 50px;
  display: none;
}

.product-tab-comment__content-reply div button {
  line-height: 30px;
  border-radius: 15px;
  border: 1px solid;
  text-align: center;
  margin: 5px 0 5px 50px;
}

.product-tab-comment__content-reply__list {
  border-bottom: 1px solid #ddd;
}

.product-tab-comment__content-reply__list a {
  cursor: pointer;
}

.product-tab-comment form {
  padding: 10px;
}

.product-tab-comment form textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.product-tab-comment #load-more-comment button {
  line-height: 30px;
  border-radius: 15px;
  border: 1px solid;
  text-align: center;
  margin: 5px 0 5px 50px;
}

.product-side {
  border: 1px solid #dddddd;
  height: auto;
  padding: 0 0 5px 0;
  margin: 5px 0;
}

.product-side .side-title {
  line-height: 40px;
  padding: 0 0 0 5px;
  background: #333;
  color: #ffffff;
  border-left: 5px solid green;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.product-side ul {
  margin: 0;
  padding: 0 0 0 30px;
  counter-reset: item;
}

.product-side ul li {
  line-height: 30px;
  list-style: none;
  position: relative;
}

.product-side ul li::before {
  counter-increment: item;
  content: counter(item);
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #00a700;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  left: -25px;
  top: 5px;
}

.zoom-slide {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  opacity: .8;
  top: 0;
  bottom: 0;
}

.zoom-image {
  max-width: 80%;
  max-height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 9999;
}

.zoom-image img {
  width: 100%;
  height: 100%;
}

.zoom-image .closex {
  width: 20px;
  height: 20px;
  background: url(../images/closex.svg) no-repeat;
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}

.slide {
  height: 400px;
  max-height: 400px;
  cursor: pointer;
  position: relative;
  margin: 10px 0;
}

.slide ul {
  width: 100%;
  height: 100%;
  max-height: 350px;
  margin: 0;
  padding: 0;
  position: relative;
}

.slide ul li {
  position: absolute;
  width: 100%;
  max-height: 350px;
  top: 0;
  list-style: none;
  display: none;
}

.slide ul li img {
  width: auto;
  width: 100%;
  height: 350px;
  max-height: 350px;
}

.slide ul .active {
  display: block;
  animation: slideShow .5s 1 ease-in;
  -webkit-animation: slideShow .5s 1 ease-in;
  -moz-animation: slideShow .5s 1 ease-in;
}

.slide ul .zoom {
  cursor: zoom-in;
}

.slide:hover .prev {
  animation: slidePrev 0.5s 1;
  -moz-animation: slidePrev 0.5s 1;
  -webkit-animation: slidePrev 0.5s 1;
  display: block;
}

.slide:hover .next {
  animation: slideNext 0.5s 1;
  -moz-animation: slideNext 0.5s 1;
  -webkit-animation: slideNext 0.5s 1;
  display: block;
}

.slide .prev,
.slide .next {
  position: absolute;
  width: 30px;
  height: 50px;
  background: #000;
  color: #fff;
  top: 150px;
  z-index: 9999;
  display: none;
  opacity: .7;
}

.slide .prev {
  left: 0;
}

.slide .prev:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #fff;
  top: 15px;
  left: 0;
}

.slide .next {
  right: 0;
}

.slide .next:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-left-color: #fff;
  top: 15px;
  right: 0;
}

.slide-gallery {
  width: 100%;
  height: 20px;
  margin: 0;
  position: absolute;
  bottom: 50px;
  text-align: center;
  display: block;
}

.slide-gallery-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #e3e3e4;
  border-radius: 50%;
}

.slide-gallery .active {
  background: transparent;
  border: 1px solid #fff;
}

.slide .small-image {
  height: 54px;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

.slide .small-image ul li {
  position: relative;
  width: 54px;
  height: 54px;
  display: inline-block;
  margin: 0 2px;
}

.slide .small-image ul li img {
  width: 50px;
  height: 50px;
}

.slide .small-image .active {
  border: 2px solid #f00;
  animation: none;
}

.zoom-slide {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  opacity: .8;
  top: 0;
  bottom: 0;
}

.zoom-image {
  max-width: 80%;
  max-height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 9999;
}

.zoom-image img {
  width: 100%;
  height: 100%;
}

.zoom-image .closex {
  width: 20px;
  height: 20px;
  background: url(../images/closex.svg) no-repeat;
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}

.slide {
  height: 400px;
  max-height: 400px;
  cursor: pointer;
  position: relative;
  margin: 10px 0;
}

.slide ul {
  width: 100%;
  height: 100%;
  max-height: 350px;
  margin: 0;
  padding: 0;
  position: relative;
}

.slide ul li {
  position: absolute;
  width: 100%;
  max-height: 350px;
  top: 0;
  list-style: none;
  display: none;
}

.slide ul li img {
  width: auto;
  width: 100%;
  height: 350px;
  max-height: 350px;
}

.slide ul .active {
  display: block;
  animation: slideShow .5s 1 ease-in;
  -webkit-animation: slideShow .5s 1 ease-in;
  -moz-animation: slideShow .5s 1 ease-in;
}

.slide ul .zoom {
  cursor: zoom-in;
}

.slide:hover .prev {
  animation: slidePrev 0.5s 1;
  -moz-animation: slidePrev 0.5s 1;
  -webkit-animation: slidePrev 0.5s 1;
  display: block;
}

.slide:hover .next {
  animation: slideNext 0.5s 1;
  -moz-animation: slideNext 0.5s 1;
  -webkit-animation: slideNext 0.5s 1;
  display: block;
}

.slide .prev,
.slide .next {
  position: absolute;
  width: 30px;
  height: 50px;
  background: #000;
  color: #fff;
  top: 150px;
  z-index: 9999;
  display: none;
  opacity: .7;
}

.slide .prev {
  left: 0;
}

.slide .prev:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-right-color: #fff;
  top: 15px;
  left: 0;
}

.slide .next {
  right: 0;
}

.slide .next:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-left-color: #fff;
  top: 15px;
  right: 0;
}

.slide-gallery {
  width: 100%;
  height: 20px;
  margin: 0;
  position: absolute;
  bottom: 50px;
  text-align: center;
  display: block;
}

.slide-gallery-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #e3e3e4;
  border-radius: 50%;
}

.slide-gallery .active {
  background: transparent;
  border: 1px solid #fff;
}

.slide .small-image {
  height: 54px;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

.slide .small-image ul li {
  position: relative;
  width: 54px;
  height: 54px;
  display: inline-block;
  margin: 0 2px;
}

.slide .small-image ul li img {
  width: 50px;
  height: 50px;
}

.slide .small-image .active {
  border: 2px solid #f00;
  animation: none;
}

@media screen and (max-width: 769px) {
  .head-top__hotline {
    float: none !important;
    text-align: center;
  }
  .head-top__nav span {
    display: none !important;
  }
  .head-top__nav-account {
    position: absolute;
    top: 0;
    left: 0;
  }
  .head-top__nav-account button {
    display: block !important;
  }
  .ads {
    height: 200px !important;
  }
  #up-top {
    width: 0;
    height: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 25px solid transparent;
    border-right-color: green;
    border-bottom-color: green;
    cursor: pointer;
    display: none;
    z-index: 99999;
  }
  #up-top:after {
    content: 'TOP';
    position: absolute;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    bottom: -20px;
    left: -2px;
  }
  .desc span {
    display: block;
    float: none;
  }
  .list-menu {
    position: relative;
  }
  .list-menu button {
    position: relative;
    border: 0;
    width: 36px;
    height: 30px;
    padding: 0;
    border-radius: 5px;
    background: transparent;
    margin: 10px 0;
    display: block;
    left: 5px;
  }
  .list-menu button:hover {
    background: #6d70ff;
  }
  .list-menu button .icon-bar {
    width: 20px;
    height: 2px;
    border: 1px solid #000;
    margin: 4px 8px;
    display: block;
    transition: all .2s;
  }
  .list-menu .button-toggle .icon-bar {
    position: absolute;
    top: 10px;
  }
  .list-menu .button-toggle .icon-bar:nth-child(1) {
    transform: rotate(45deg);
  }
  .list-menu .button-toggle .icon-bar:nth-child(2) {
    display: none;
  }
  .list-menu .button-toggle .icon-bar:nth-child(3) {
    transform: rotate(-45deg);
  }
  .list-menu ul {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background: #fff;
    box-shadow: #555 1px 1px 3px;
    left: 0;
    top: 50px;
    width: auto;
    z-index: 9999;
  }
  .list-menu ul li {
    display: block;
    color: #011627;
  }
  .list-menu ul li a {
    text-decoration: none;
    color: #011627;
  }
  .list-menu ul li:hover {
    color: #fff !important;
    padding-left: 20px;
  }
  .list-menu ul li:hover a {
    color: #fff !important;
  }
  .product {
    height: 320px;
  }
  .product .thumb {
    width: 100%;
    height: 200px;
    background-image: none;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .product-price {
    height: 40px;
  }
  .dropdown-menu {
    left: 0;
    top: 50px;
    transform: translateX(0);
  }
  .dropdown-menu:after {
    left: 25px;
  }
  .cart {
    top: 5px;
  }
  .cart-menu {
    width: 280px;
  }
  .cart-menu ul {
    max-height: 280px;
  }
  .cart-menu ul span {
    max-width: 200px !important;
    font-style: 13px;
  }
  .category {
    display: none;
  }
  #show-cat {
    display: block;
  }
  .product-tab-container__header {
    display: block;
  }
  .product-page button {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    height: 50px;
  }
  .product-tab-comment__content-reply {
    display: none;
  }
}

@media screen and (min-width: 0) and (max-width: 415px) {
  .slide {
    height: 250px;
  }
  .slide ul {
    max-height: 200px;
  }
  .slide ul li img {
    height: 200px;
  }
  .slide .next,
  .slide .prev {
    top: 75px;
  }
  .product {
    height: 250px;
  }
  .product .thumb {
    width: 100%;
    height: 130px;
    background-image: none;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .product-price {
    height: 40px;
  }
  #add-image .input-group input,
  #add-image .input-group select,
  #add-image .input-group button {
    display: inline-block;
    margin: 2px 0;
  }
  #add-image .input-group input {
    width: calc(100% - 40px);
  }
}

@media screen and (min-width: 768px) and (max-width: 993px) {
  .product {
    height: 300px;
  }
  .product .thumb {
    width: 100%;
    height: 180px;
    background-image: none;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .product-price {
    height: 40px;
  }
}
